# Bad URLs extractor

---

This notebook explains what exactly was kept and what was deleted from original
datasets

In [4]:
%pylab inline
import pandas as pd
from IPython.display import display
import bad_URLs_API

# URLs-bad
ISCX_DEFACEMENT_PATH = "Data/URLs-bad/ISCX_defacement.csv"
ISCX_MALWARE_PATH = "Data/URLs-bad/ISCX_malware.csv"
ISCX_PHISHING_PATH = "Data/URLs-bad/ISCX_phishing.csv"
ISCX_SPAM_PATH = "Data/URLs-bad/ISCX_spam.csv"

CERT_URL = "https://hole.cert.pl/domains/domains.json"
PHISHTANK_URL = "http://data.phishtank.com/data/online-valid.json"
OPENFISH_URL = "https://openphish.com/feed.txt"
AA419_URL = "https://api.aa419.org/fakesites/"
AA419_API_KEY = ""

# URLs-mixed
KAGGLE_LABELED_PATH = "Data/URLs-mixed/kaggle_labeled.csv"
MENDELEY_LABEL1M_PATH = "Data/URLs-mixed/mendeley_label1m_s.csv"
MENDELEY_LABEL300K_PATH = "Data/URLs-mixed/mendeley_label300k_s.csv"
PHISH_STORM_PATH = "Data/URLs-mixed/phish_storm.csv"

Populating the interactive namespace from numpy and matplotlib

In [5]:
print('ISCX2016 defacement 96k:')
iscx_defacement = pd.read_csv(
    ISCX_DEFACEMENT_PATH,
    names=['domain']
)
iscx_defacement.head(6)

ISCX2016 defacement 96k:

                                              domain
0        http://www.sinduscongoias.com.br/index.html
1  http://www.sinduscongoias.com.br/index.php/ins...
2  http://www.sinduscongoias.com.br/index.php/ins...
3  http://www.sinduscongoias.com.br/index.php/ins...
4  http://www.sinduscongoias.com.br/index.php/ins...
5  http://www.sinduscongoias.com.br/index.php/ins...

In [6]:
print('ISCX2016 malware 11k:')
iscx_malware = pd.read_csv(
    ISCX_MALWARE_PATH,
    names=['domain']
)
iscx_malware.head(6)

ISCX2016 malware 11k:

                                              domain
0  http://gzzax.livechatvalue.com/chat/chatClient...
1  http://gzzax.livechatvalue.com/chat/chatClient...
2  http://gzzax.livechatvalue.com/chat/chatClient...
3  http://gzzax.livechatvalue.com/chat/chatClient...
4  http://mtsx.com.cn/UploadFiles/2011-08/admin/%...
5  http://mtsx.com.cn/UploadFiles/2011-08/admin/%...

In [7]:
print('ISCX2016 phishing 10k:')
iscx_phishing = pd.read_csv(
    ISCX_PHISHING_PATH,
    names=['domain']
)
iscx_phishing.head(6)

ISCX2016 phishing 10k:

                                              domain
0  http://v2.email-marketing.adminsimple.com/trac...
1  http://bid.openx.net/json?amp;amp;amp;amp;cid;...
2  http://webmail2.centurytel.net/hwebmail/servic...
3  http://www.google.com.ng/imgres?imgurl=http://...
4  http://webmail2.centurytel.net/hwebmail/servic...
5  http://www.liceonuzzi.it/cmd=_Inf/connectionSt...

In [8]:
print('ISCX2016 spam 10k:')
iscx_spam = pd.read_csv(
    ISCX_SPAM_PATH,
    names=['domain']
)
iscx_spam.head(6)

ISCX2016 spam 10k:

                                              domain
0  http://astore.amazon.co.uk/allezvinsfrenchr/de...
1  http://archive.salisburyjournal.co.uk/2007/3/6...
2     http://appbasic.jettons.co.uk/links/index.html
3  http://archive.yorkpress.co.uk/2003/11/6/25684...
4  http://acard4u.co.uk/product_reviews.php?cPath...
5  http://amazon.co.uk/s/ref=amb_link_22202665_32...

In [9]:
print('CERT Poland 15k:')
poland_cert_chaste = bad_URLs_API.PolandCERT(CERT_URL)
drop_list = ['RegisterPositionId', 'InsertDate', 'DeleteDate']

poland_cert = poland_cert_chaste.drop(drop_list, axis='columns')
print(
    # TODO: Probably we should delete all rows where DeleteDate exists
    #  case now they are benign URLs.
    # "\nAll rows with any 'DeleteDate' were dropped.",
    "\nThe following columns were dropped:",
    drop_list,
)
display(poland_cert_chaste.head(6))
del poland_cert_chaste, drop_list

CERT Poland 15k:

The following columns were dropped: ['RegisterPositionId', 'InsertDate', 'DeleteDate']

,RegisterPositionId,domain,InsertDate,DeleteDate
0,14555,safety.inpost.cam,2021-04-29T18:25:08,None
1,14554,wiadomosci-j24.cleverapps.io,2021-04-29T18:25:04,None
2,14553,www.olx.kontopl.link,2021-04-29T17:57:55,None
3,14552,www.olx.kontopl.monster,2021-04-29T17:57:50,None
4,14551,olx.kontopl.link,2021-04-29T17:57:46,None
5,14550,olx.kontopl.monster,2021-04-29T17:57:36,None

In [10]:
print('PhishTank 10k:')
phish_tank_chaste = bad_URLs_API.PhishTank(PHISHTANK_URL)
drop_list = ['phish_detail_url',
             'phish_id',
             'submission_time',
             'verification_time']

phish_tank = phish_tank_chaste.drop(drop_list, axis='columns')
print(
    "\nThe following columns were dropped:\n",
    drop_list,
)
display(phish_tank_chaste.head(6))
del phish_tank_chaste, drop_list

PhishTank 10k:

The following columns were dropped:
 ['phish_detail_url', 'phish_id', 'submission_time', 'verification_time']

,phish_id,domain,phish_detail_url,submission_time,verified,verification_time,online,details,target
0,7090941,https://my.narmsinc.org/db/wggebbm/,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 21:25:33+00:00,yes,2021-04-29 21:27:15+00:00,yes,"[{'ip_address': '199.188.206.83', 'cidr_block'...",Other
1,7090933,http://about.fromnewamazoninformation.work/,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 21:11:01+00:00,yes,2021-04-29 21:14:40+00:00,yes,"[{'ip_address': '204.44.94.126', 'cidr_block':...",Other
2,7090928,https://pay65-olx.pl/payment,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 21:08:52+00:00,yes,2021-04-29 21:14:40+00:00,yes,"[{'ip_address': '104.21.11.118', 'cidr_block':...",PKO Polish Bank
3,7090923,https://pay65-olx.pl/track?id=458923344,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 21:06:50+00:00,yes,2021-04-29 21:09:06+00:00,yes,"[{'ip_address': '104.21.11.118', 'cidr_block':...",PKO Polish Bank
4,7090918,https://signinmicrocheckingattserver.weebly.com/,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 21:01:18+00:00,yes,2021-04-29 21:02:51+00:00,yes,"[{'ip_address': '199.34.228.54', 'cidr_block':...",Other
5,7090891,https://wiki.oceanreeflifegame.com/wp-admin/cs...,http://www.phishtank.com/phish_detail.php?phis...,2021-04-29 20:14:34+00:00,yes,2021-04-29 20:17:26+00:00,yes,"[{'ip_address': '104.131.12.65', 'cidr_block':...",Other

In [11]:
print('OpenFish 2k:')
open_fish = bad_URLs_API.OpenFish(OPENFISH_URL)
open_fish.head(6)

OpenFish 2k:

                                              domain
0  https://nathanmcguirelaw.com/c92955869504f8a1d...
1  https://nathanmcguirelaw.com/c92955869504f8a1d...
2  https://nathanmcguirelaw.com/a78e96857e9cc18c4...
3  https://nathanmcguirelaw.com/a78e96857e9cc18c4...
4  https://nathanmcguirelaw.com/cd826d9a22b9bc668...
5  https://nathanmcguirelaw.com/cd826d9a22b9bc668...

`bad_URLs_API.AA419().get_all()` makes about 300 requests to the server using
only one thread. That is both, the reason why it is very slow, and why it is
commented.

`bad_URLs_API.AA419()` makes only 1 request instead.

`Full-URLs-bad.*` already has first 144k domains.

In [20]:
print('Artists Against 419 144k:')
if not AA419_API_KEY:
    raise ValueError("Enter valid API key")
# aa419_chaste = bad_URLs_API.AA419(AA419_URL, AA419_API_KEY).get_all()
# For small tests use the following instead:
aa419_chaste_500 = bad_URLs_API.AA419(AA419_URL, AA419_API_KEY)
drop_list = ['Id',
             'Domain',
             'DateAdded',
             'Updated']

# aa419 = aa419_chaste.drop(drop_list, axis='columns')
aa419_500 = aa419_chaste_500.drop(drop_list, axis='columns')
print(
    "\nThe following columns were dropped:\n",
    drop_list,
)
# display(aa419_chaste.head(6))
# del aa419_chaste, drop_list
display(aa419_chaste_500.head(6))
del aa419_chaste_500, drop_list

Artists Against 419 144k:

ValueError: Please, enter valid API key

In [15]:
print('Kaggle labeled 345k:')
kaggle_labeled_chaste = pd.read_csv(
    KAGGLE_LABELED_PATH
)

kaggle_labeled = kaggle_labeled_chaste[kaggle_labeled_chaste.label == 'bad']\
    .drop('label', axis='columns')
kaggle_labeled.reset_index(drop=True,
                           inplace=True)
kaggle_labeled.columns = ['domain']

print(
    "\nAll rows with 'good' label were dropped.",
    "\n'label' column was also dropped."
    "\n\n'url' renamed to 'domain'\n"
)

display(kaggle_labeled_chaste.head(6))
del kaggle_labeled_chaste

Kaggle labeled 345k:

All rows with 'good' label were dropped.
'label' column was also dropped.

'url' renamed to 'domain'

                      url label
0  diaryofagameaddict.com   bad
1        espdesign.com.au   bad
2      iamagameaddict.com   bad
3           kalantzis.net   bad
4   slightlyoffcenter.net   bad
5        toddscarwash.com   bad

In [16]:
print('Mendeley labeled 1.2m:')
mendeley_label1m_chaste = pd.read_csv(
    MENDELEY_LABEL1M_PATH,
    index_col=0
)

mendeley_label1m = mendeley_label1m_chaste.rename(columns = {'url':'domain'})
mendeley_label1m = mendeley_label1m[mendeley_label1m.label == '-']
drop_list = ['label'] # + 'content', 'tld', 'https', 'url_len'
mendeley_label1m.drop(
    drop_list,
    axis='columns',
    inplace=True
)
mendeley_label1m.reset_index(drop=True,
                             inplace=True)
print(
    "\nAll rows with 'good' label were dropped.",
    "\n\nThe following columns were dropped:",
    drop_list,
    "\n\n'url' renamed to 'domain'\n"
)
display(mendeley_label1m_chaste.head(6))
del mendeley_label1m_chaste

Mendeley labeled 1.2m:

c:\users\vital\appdata\local\programs\python\python39\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

All rows with 'good' label were dropped.

The following columns were dropped: ['label']

'url' renamed to 'domain'

,url,ip_add,geo_loc,who_is,js_len,js_obf_len,label
0,http://members.tripod.com/russiastation/,42.77.221.155,Taiwan,+,58.0,0.0,+
1,http://www.ddj.com/cpp/184403822,3.211.202.180,United States,+,52.5,0.0,+
2,http://www.naef-usa.com/,24.232.54.41,Argentina,+,103.5,0.0,+
3,http://www.ff-b2b.de/,147.22.38.45,United States,-,720.0,532.8,-
4,http://us.imdb.com/title/tt0176269/,205.30.239.85,United States,+,46.5,0.0,+
5,http://efilmcritic.com/hbs.cgi?movie=311,8.28.167.23,United States,+,39.5,0.0,+

In [17]:
print('Mendeley labeled 300k:')
mendeley_label300k_chaste = pd.read_csv(
    MENDELEY_LABEL300K_PATH,
    index_col=0
)

mendeley_label300k = mendeley_label300k_chaste.rename(columns = {'url':'domain'})
mendeley_label300k = mendeley_label300k[mendeley_label300k.label == '-']
drop_list = ['label'] # + 'content', 'tld', 'https', 'url_len'
mendeley_label300k.drop(
    drop_list,
    axis='columns',
    inplace=True
)
mendeley_label300k.reset_index(drop=True,
                             inplace=True)
print(
    "\nAll rows with 'good' label were dropped.",
    "\n\nThe following columns were dropped:",
    drop_list,
    "\n\n'url' renamed to 'domain'\n"
)
display(mendeley_label300k_chaste.head(6))
del mendeley_label300k_chaste, drop_list

Mendeley labeled 300k:

All rows with 'good' label were dropped.

The following columns were dropped: ['label']

'url' renamed to 'domain'

,url,ip_add,geo_loc,who_is,js_len,js_obf_len,label
0,http://www.dutchthewiz.com/freeware/,175.67.214.68,China,+,38.5,0.0,+
1,http://www.collectiblejewels.com,188.120.171.121,Sweden,-,187.0,0.0,+
2,http://www.deadlinedata.com,193.51.170.1,France,+,31.0,0.0,+
3,http://www.mil.fi/maavoimat/kalustoesittely/00...,13.237.35.44,Australia,+,152.0,0.0,+
4,http://www.avclub.com/content/node/24539,220.193.62.89,China,+,150.0,0.0,+
5,http://www.yellowstone.net/baptist,13.122.80.132,United States,+,140.5,0.0,+

In [18]:
print('PhisStorm data 96k:')
phish_storm_chaste = pd.read_csv(
    PHISH_STORM_PATH
)
phish_storm = phish_storm_chaste[phish_storm_chaste.label == 1.0]
drop_list = ['label', 'ranking']
phish_storm = phish_storm.drop(
    drop_list,
    axis='columns'
)
print(
    "\nAll rows with '0.0' label were dropped.",
    "\n\nThe following columns were dropped:",
    drop_list,
)
display(phish_storm_chaste.head(6))
del phish_storm_chaste, drop_list

PhisStorm data 96k:

All rows with '0.0' label were dropped.

The following columns were dropped: ['label', 'ranking']

,domain,ranking,mld_res,mld.ps_res,card_rem,ratio_Rrem,ratio_Arem,jaccard_RR,jaccard_RA,jaccard_AR,jaccard_AA,jaccard_ARrd,jaccard_ARrem,label
0,nobell.it/70ffb52d079109dca5664cce6f317373782/...,10000000,1.0,0.0,18,107.611111,107.277778,0.0,0.0,0.0,0.0,0.8,0.795729,1.0
1,www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...,10000000,0.0,0.0,11,150.636364,152.272727,0.0,0.0,0.0,0.0,0.0,0.768577,1.0
2,serviciosbys.com/paypal.cgi.bin.get-into.herf....,10000000,0.0,0.0,14,73.500000,72.642857,0.0,0.0,0.0,0.0,0.0,0.726582,1.0
3,mail.printakid.com/www.online.americanexpress....,10000000,0.0,0.0,6,562.000000,590.666667,0.0,0.0,0.0,0.0,0.0,0.859640,1.0
4,thewhiskeydregs.com/wp-content/themes/widescre...,10000000,0.0,0.0,8,29.000000,24.125000,0.0,0.0,0.0,0.0,0.0,0.748971,1.0
5,smilesvoegol.servebbs.org/voegol.php,10000000,0.0,0.0,2,223.500000,234.000000,0.0,0.0,0.0,0.0,0.0,0.852227,1.0

In [19]:
bad_df_to_concat = [
    # aa419,
    aa419_500,
    iscx_defacement,
    iscx_malware,
    iscx_phishing,
    iscx_spam,
    kaggle_labeled,
    mendeley_label1m,
    mendeley_label300k,
    open_fish,
    phish_storm,
    phish_tank,
    poland_cert
]
URLs_bad = pd.concat(bad_df_to_concat,
                      axis=0,
                      ignore_index=True)
URLs_bad.head()

NameError: name 'aa419_500' is not defined